@import 'colors';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: 82px;
}

body {
    position: relative;
    font-family: 'Work Sans', sans-serif;
    background: url(../img/body.png) no-repeat;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

.underline {
    margin: 0 auto 40px;
    width: 60px;
    height: 4px;
    background-color: $main-color;
}


.navbar {
    z-index:1;
    background: #ffffff;
    box-shadow: $box-shadow;

    .navbar-brand {
        font-family: 'Oregano', cursive;
        font-size: 31px;
        color: $main-color;
        transition: color 0.4s;
    }

    .navbar-brand:hover {
        color: $black;
    }

    .navbar-toggler-icon {
        padding: 10px;
    }

    .navbar-nav {
        .nav-link {
            color: $black;
            transition: color 0.4s;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 17px;
        }

        .nav-link.active {
            color: $main-color;
        }

        .nav-link:hover {
            color: $main-color;
        }
    }
}

.header {
    height: 100vh;
    position: relative;

    .hero-img {
        background-image: url('../img/Header-Small.png');
        background-size: cover;
        background-position: center;
        height: 100%;

            
        .header-photo {
            img{
                width: 220px;
                height: 220px;
            }
        }

        .header-text {
            .zero-line {
                font-size: 21px;      
            }

            .first-line {
                font-size: 23px;
                font-weight: 700;
                margin-left: -1px;
            }

            .second-line {
            font-size: 19px;
            margin: 2px 0;
                span {
                    color: $main-color;
                    font-weight: 700;
                }
            }
        }

        .fa-chevron-down {
            position: absolute;
            bottom: 100px;
            font-size: 30px;
            Left: 50%;
            Transform: translateX(-50%);
            color: $black;
        }
    }
}

.about {
    .about-image {
        img {
            height: 400px;
            width: 400px;
            object-fit: cover;
            border-radius: 15px;
            border: 3px solid transparent;
            box-shadow: $box-shadow;
            transition: transform 0.3s;
        }
    
        img:hover {
            transform: scale(1.05); 
        }
    }

    .about-text {
        font-size: 15px;
        text-align: justify;
    }

    .about-buttons {
        .btn-outline-dark {
            color: $white;
            font-size: 13px;
            text-transform: uppercase;
            border-radius: 4px;
            background: $button-gradient;
            background-clip: padding-box;
            border: 3px solid transparent;
            box-shadow: $box-shadow;
            transition: background 0.6s;
        }
    
        .btn-outline-dark:hover {
            background: $white;
            background-clip: padding-box;
            color: $black;
        }
    }
}

.experience {
    .card {
        border: 3px solid transparent;
        box-shadow: $box-shadow;
        transition: transform 0.3s;

        .card-body {
            .card-title{
                font-size: 14px;

                .peroid{
                    font-weight: bold;
                }

                .position{
                    color: $main-color;
                }
            }
        }
    }

    .card:hover {
        transform: scale(1.05); 
    }
}

.skills {
    .set {
        .set-name {
            padding-bottom: 15px;
        }

        .set-list {
            li {
                padding: 15px 5px;
            }

            i {
                color: $main-color;
            }
        }
    }
}

.projects {
    padding: 4rem 0;

    .button-group {
        button {
           background: transparent;
           border: none;
           font-size: 16px;
           text-transform: uppercase;
           padding-left: 2rem;
           padding-bottom: 2rem;
        }

        button:focus, button:active button:hover .btn:active, btn.active {

        }
    }

    h4 {
        font-weight: bold;
        font-size: 20px;
    }

    img {
        height: 300px;
        object-fit: cover;
        object-position: center;
    }
}

.contact {
    .social {
        i {
            padding: 0 5px;
            font-size: 22px;
        }

        .head {
            padding: 0 5px;
        }
    }
}

footer {
    padding-top: 4rem;
    background: url(../img/footer.png) no-repeat;

    .site-logo {
        font-family: 'Oregano', cursive;
        font-size: 23px;
        color: $main-color;
    }
}

 // Medium devices (tablets, 768px and up)
 @media (min-width: 768px) { 
    .navbar {
    
        .navbar-brand {
            font-size: 36px;
        }

        .nav-link {
            font-size: 20px;
        }
    }

    .header {
        .hero-img {
            .header-photo {
                img{
                    width: 300px;
                    height: 300px;
                }
            }

            .header-text {
                .zero-line {

                }

                .first-line {
                    font-size: 55px;
                    font-weight: 700;
                    margin-left: -2px;
                }

                .second-line {
                    font-size: 35px;
                    margin: 3px 0;
                }
            }
        }
    }

    .about {
        .about-text {
            font-size: 18px;
        }
    }

    .experience {
        .card {   
            .card-body {
                .card-title{
                    font-size: 16px;
                }
            }
        }
    }
}



 // Large devices (desktops, 992px and up)
 @media (min-width: 992px) {
    .navbar {
    
        .navbar-brand {
            font-size: 39px;
        }

        .nav-link {
            font-size: 20px;
        }
    }

    .header {    
        .hero-img {
            background-image: url('../img/Header-Large.png');
            background-size: cover;
            background-position: left;

            .header-photo {
                img{
                    width: 380px;
                    height: 380px;
                }
            }

            .header-text {
                .first-line {
                    font-size: 65px;
                    font-weight: 700;
                    margin-left: -3px;
                }
    
                .second-line {
                    font-size: 30px;
                    margin: 4px 0;
                }
            }
        }  
    }

    .about {
        .about-text {
            font-size: 19px;
        }
    }

    .experience {
        .card {   
            .card-body {
                .card-title{
                    font-size: 18px;
                }
            }
        }
    }
 }


 // X-Large devices (large desktops, 1200px and up)
 @media (min-width: 1200px) {
    .navbar {
    
        .navbar-brand {
            font-size: 42px;
        }

        .nav-link {
            font-size: 22px;
        }
    }

    .header {
        .hero-img {
            .header-photo {
                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .header-text {
                .first-line {
                    font-size: 75px;
                    font-weight: 700;
                    margin-left: -3px;
                }

                .second-line {
                    font-size: 40px;
                    margin: 5px 0;
                }
            }
        }
    }

    .about {
        .about-text {
            font-size: 20px;
        }
    }

    .experience {
        .card {   
            .card-body {
                .card-title{
                    font-size: 20px;
                }
            }
        }
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .navbar {
        .navbar-brand {
            font-size: 44px;
        }

        .nav-link {
            font-size: 24px;
        }
    }
 }